@font-face{
	font-family:Avignon;
	font-style:normal;
	font-weight:300;
	src:url(../fonts//Avignon-Book3.eot);/* IE */
	src:url(../fonts/Avignon-Book3.eot?#iefix) format("embedded-opentype"),/* IE6-IE8 */
	url(../fonts/Avignon-Book3.woff) format("woff"),/* Modern Browsers */
	url(../fonts/Avignon-Book3.ttf) format("truetype"),
	url(../fonts/Avignon-Book3.svg#Avignon-Book3) format("svg")
}
@font-face{
	font-family:AvignonDemi;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/avignondemi.eot);
	src:url(../fonts/avignondemi.eot?#iefix) format("embedded-opentype"),
	url(../fonts/avignondemi.woff) format("woff"),
	url(../fonts/avignondemi.ttf) format("truetype"),
	url(../fonts/avignondemi.svg#avignondemi) format("svg")
}
$font-stack-1: Avignon, sans-serif;
$font-stack-2: AvignonDemi, sans-serif;
$primary-color: #000;
$hover-color: #555;
%flex {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
html,
body {
	font-family: $font-stack-1;
	margin: 0
}
.bg {
	min-height: 1080px;
	width: 100%; 
	img {
		height: auto;
		width: 100%;
	}
}
.button-conteiner {
	@extend %flex;
	-webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
button.show-popup {
	background-color: #98c246;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: none; /* button occurs after cosing popup */
	padding: 6px 20px;
    position: absolute;
    top: 50%;
	text-transform: uppercase;
	&:hover {
		background-color: #b3d66f;
	}
}
/* popup */

/* import general popup layout */
@import 'popup_layout'; 

.popup.api-progress {
	@extend %flex;
    -ms-flex-direction: row;
	-webkit-flex-direction: row;
    flex-direction: row;
	.api-item {
		flex: 6 0;
		margin: 4% 0;
		&:nth-child(2) { //first is x element
			text-align: center
		}
	}
	img {
		margin: 70px 0 0 20px;
		height: 180px;
		width: auto;
	}
	img.cross-line {
		height: 220px;
		position: relative;
		left: 5px;
		top: -275px;
	}
	.txt {
		font-family: $font-stack-1;
		font-size: 16px;
		font-weight: 600;
		h2 {
			font-family: $font-stack-2;
			font-size: 32px;
		}
		ul {
			padding-inline-start: 0;
		}
		li {
			list-style: none;
			&:before {
				content: "•";
				font-size: 15px;
				vertical-align: top;
				padding-right: 5px;
				line-height: 20px;
			}
		}
		p {
			margin-right: 19%
		}
		a {
			color: $primary-color;
			&:hover {
				color: $hover-color;
			}
		}
	}
}

@supports (-ms-ime-align:auto) {/* Edge does not support padding-inline-start*/
	.popup.api-progress .txt ul {
		position: relative;
		left: -20px;
	}
}

/* RWD */
@media screen and (max-width: 1200px){
	.popup.api-progress {
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;
		padding: 10px;
		.api-item {
			flex: 12 0;
			margin: 10px 0;
		}
		.api-item.img {
			margin: 0 auto; /* center on RWD */
			width: 320px; /* same as above */
			order: 2;
			img {

				margin: 30px 0;
			}
		}
		.api-item.txt {
			margin-right: 0;
			order: 1;
			h2 {
				font-size: 20px;
				margin-top: 0;
			}
		}
	}
}